:root {
  --shadow-xs: 0px 1px 2px 0px #1741970d;

  --shadow-sm: 0px 1px 2px 0px #1741970f, 0px 1px 3px 0px #1741971a;

  --shadow-md: 0px 2px 4px -2px #1741970f, 0px 4px 8px -2px #1741971a;

  --shadow-lg: 0px 4px 6px -2px #17419708, 0px 12px 16px -4px #17419714;

  --shadow-xl: 0px 8px 8px -4px #17419708, 0px 20px 24px -4px #17419714;

  --shadow-2xl: 0px 24px 48px -12px #1741972e;

  --shadow-3xl: 0px 32px 64px -12px #17419724;

  --blue-focus: 0px 0px 20px 0px #0082f114;

  --icon-blue-shadow: 16px 20px 44px 16px #1079f81a;

  --floating-icons-L: 8.89px 11.11px 24.44px 8.89px #1079f81a;

  --cards-hover: 32px 32px 64px 0px #1741971a, 0px 4px 20px 0px #0082f114;

  --focus-ring: 0px 0px 0px 4px #4fa0ff1a;

}
