.pb-badge {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	gap: 6px;

	border-radius: 16px;

	font-family: var(--font-sans) !important;
	font-weight: var(--font-medium);

	text-align: center;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* SIZE */
.pb-badge-icon-only {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	padding: 0 !important;
}

.pb-badge-sm {
	font-size: var(--text-xs-size);
	line-height: var(--text-xs-line);
	padding: 2px 16px;

	min-height: 22px;
}

.pb-badge-icon-only.pb-badge-sm {
	width: 20px;
	max-width: 20px;
	min-width: 20px;

	height: 20px;
	max-height: 20px;
	min-height: 20px;
}

.pb-badge-md {
	font-size: var(--text-sm-size);
	line-height: var(--text-sm-line);
	padding: 2px 20px;

	min-height: 24px;
}

.pb-badge-icon-only.pb-badge-md {
	width: 24px;
	max-width: 24px;
	min-width: 24px;

	height: 24px;
	max-height: 24px;
	min-height: 24px;
}

.pb-badge-lg {
	font-size: var(--text-md-size);
	line-height: var(--text-md-line);
	padding: 4px 24px;

	min-height: 28px;
}

.pb-badge-icon-only.pb-badge-lg {
	width: 28px;
	max-width: 28px;
	min-width: 28px;

	height: 28px;
	max-height: 28px;
	min-height: 28px;
}

.pb-badge-default {
	background-color: var(--gray-100);
	color: var(--gray-700);
}

.pb-badge-default circle {
	fill: var(--gray-500);
}

.pb-badge-info {
	background-color: var(--color-100);
	color: var(--color-700);
}

.pb-badge-info circle {
	fill: var(--color-500);
}

.pb-badge-success {
	background-color: var(--success-100);
	color: var(--success-700);
	fill: var(--success-500);
}

.pb-badge-success circle {
	fill: var(--success-500);
}

.pb-badge-warning {
	background-color: var(--warning-100);
	color: var(--warning-700);
	fill: var(--warning-500);
}

.pb-badge-warning circle {
	fill: var(--warning-500);
}

.pb-badge-error {
	background-color: var(--error-100);
	color: var(--error-700);
	fill: var(--error-500);
}

.pb-badge-error circle {
	fill: var(--error-500);
}
